<! DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Spring Boot. Thymeleaf Application</title>
    <link rel="stylesheet" th:href="@{/webjars/tailwindcss/2.1.2/dist/tailwind.min.css}">
    <meta name="viewport" content="width-device-width", initial-scale="1.0">
</head>
    <body>
    <h1>Welcome to Thymeleaf Spring Boot</h1>
    <div th:replace="_fragments :: footer"> </div>
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
            <div class="p-8">
                <div class="block mt-1 text-lg leading-tight font-medium text-black"
                     th:text="${message}"></div>
                <p class="mt-2 text-gray-500" th:text="${description}"></p>
            </div>
        </div>
    </div>

</body>
</html>